.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .wrapper {
    max-width: 1060px;
    margin: 0 auto;

    .header_wrapper {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 56px;
    }
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;

  li {
    margin-right: 82px;
    font-weight: 400;
    font-family: 'Lato';
    font-style: normal;
    line-height: 24px;
    &:last-child {
      margin-right: 0px;
    }
    & a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
    }
    &:hover,
    &:focus {
      opacity: 50%;
    }
  }
}
