%StyleF {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;

  color: #102746;
}

.tour {
  max-width: 1264px;
  margin: 0 auto;
  margin-bottom: 139px;
}

.tours_wrap {
  padding-left: 100px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour_title {
  @extend %StyleF;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour_desc {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}
.tour_more {
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #006dfe;
  padding-right: 59px;
  background: url(../png/Shape.svg) no-repeat 95% center;
  transition: 0.3s all;
  &:hover,
  &:focus {
    background: url(../png/Shape.svg) no-repeat right center;
  }
}
