.video {
  width: 100%;
}

.video_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video_item {
  padding-top: 56.25%;
}
.video_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
